<% @page_title = "Welcome" %>

<div class="wrapper">

<h1><%= @page_title %></h1>

<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


<br />
<div class="grid grid_gutter_half text_center demo">
  <div class="grid-item one_sixth">
    <div id="demo1"><%= image_tag('http://25.media.tumblr.com/d11dfadced17e44ad98fca8d36a9716a/tumblr_mq5k50IJp31qz8guro1_1280.jpg')%></div>
    <div class="button chunky primary font_small" onclick="$('#demo1').animo({animation:'tada'});">Tada!</div>
  </div>
  <div class="grid-item one_sixth">
    <div id="demo2"><%= image_tag('http://25.media.tumblr.com/d11dfadced17e44ad98fca8d36a9716a/tumblr_mq5k50IJp31qz8guro1_1280.jpg')%></div>
    <div class="button chunky primary font_small" onclick="$('#demo2').animo({animation:'wobble'});">Wobble!</div>
  </div>
  <div class="grid-item one_sixth">
    <div id="demo3"><%= image_tag('http://25.media.tumblr.com/d11dfadced17e44ad98fca8d36a9716a/tumblr_mq5k50IJp31qz8guro1_1280.jpg')%></div>
    <div id="demo3b" class="button chunky primary font_small">Wobble & Fade</div>
  </div>
  <div class="grid-item one_sixth">
    <div id="demo4"><%= image_tag('http://25.media.tumblr.com/d11dfadced17e44ad98fca8d36a9716a/tumblr_mq5k50IJp31qz8guro1_1280.jpg')%></div>
    <div id="demo4b" class="button chunky primary font_small">Bounce In</div>
  </div>
  <div class="grid-item one_sixth">
    <div id="demo5"><%= image_tag('http://25.media.tumblr.com/d11dfadced17e44ad98fca8d36a9716a/tumblr_mq5k50IJp31qz8guro1_1280.jpg')%></div>
    <div id="demo5b" class="button chunky primary font_small">bounceOut</div>
  </div>
  <div class="grid-item one_sixth">
    <div id="demo6" ><%= image_tag('http://25.media.tumblr.com/d11dfadced17e44ad98fca8d36a9716a/tumblr_mq5k50IJp31qz8guro1_1280.jpg')%></div>
    <div id="demo6b" class="button chunky primary font_small">flipOutX</div>
  </div>
</div>



</div>