<!DOCTYPE html>
<html>
<head>
  <title> Base3 | <%= @page_title %> </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <header class="cf" >
    <div class="wrapper">
      <div class="grid">
        <div class="title grid-item lap-one_half"><%= @page_title %></div>
        <nav class="grid-item lap-one_half">
          <ul>  
            <li><%= link_to "link", "#", :class => "button mini" %></li>
            <li><%= link_to "link", "#", :class => "button mini" %></li>
            <li><%= link_to "link", "#", :class => "button mini" %></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

<%= yield %>

</body>
</html>
